body {
    color: #black;
    font-size: 15px;
    font-family: georgia, sans;
    margin: 0px auto 0px auto;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 20px 12px 20px;
    background-color: #999999;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#content {
    margin: 0px 25px 0px 25px;
}

div#footer {
    border-top: solid 1px grey;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 20px 12px 20px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
